.swipeButtons {
    position: fixed;
    bottom: 2vh;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.swipeButtons .MuIconButton-root {
    background-color: white;
    box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3)
}

.swipeButtons__large {
    padding: 200px !important;
}
.swipeButtons__repeat {
    padding: 3vh !important;
    color: rgb(224, 222, 102);
}
.swipeButtons__left {
    padding: 3vh !important;
    color: red;
}
.swipeButtons__star {
    padding: 3vh !important;
    color: rgb(62, 153, 214);
    
}
.swipeButtons__right {
    padding: 3vh !important;
    color: rgb(82, 206, 82);
}
.swipeButtons__lightning {
    padding: 3vh !important;
    color: rgb(165, 59, 226);
}